@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: cadetblue;
}

.titulo {
    font-family: 'Bungee Tint';
    text-align: center;
    padding: 4px;
    margin: 20px;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


.timer {
    font-family: 'Quantico';
    font-size: 3em;
}